

<link rel="stylesheet" href="./css/w3.css">

<script src="./js/3rd_party/jdataview.js"></script>
<script src="./js/3rd_party/jparser.js"></script>

<h1>
    <a id="home" href="/" style="text-decoration: none; font-size: xx-large;" onclick="window.stop()">
        VOXL Web Portal
    </a>
</h1>
<div style="flex-grow: 1;"></div>
<div class="w3-container w3-hide" id="battery">
    ?%
    <img src="images/batt-icon.png"/>
</div>
<div class="w3-container w3-hide" id="gps">
    GPS Sat: N/A
</div>
<div class="w3-container w3-hide" id="flight_mode">
    Unknown<br>
</div>
<div class="w3-container w3-hide" id="arm_status">
    Unknown
</div>
<button onclick="px4click()" class="w3-button w3-green">PX4 Info</button>
<div class="w3-dropdown-click"  onmouseenter="cameraAccFunc()" onmouseleave="closeCameraAcc()" >
    <button class="w3-button">
        Cameras &#9660;
    </button>
    <div id="cameraAcc" class="w3-dropdown-content w3-bar-block" >
        <button class = "w3-bar-item w3-button w3-green w3-border" pipe="Multi-View" onclick="cameraClick(this)">Multi-View</button>
        <!-- This list gets populated by updateCameraList() -->
    </div>
</div>
<div class="w3-dropdown-click"  onmouseenter="ptcloudAccFunc()" onmouseleave="closePtcloudAcc()" >
    <button class="w3-button">
        Pointclouds &#9660;
    </button>
    <div id="ptcloudAcc" class="w3-dropdown-content w3-bar-block" >
        <!-- This list gets populated by updatePtcloudList() -->
    </div>
</div>
<div class="w3-dropdown-hover">
    <button class="w3-button"  onclick="listDebug()">
        Debug &#9660;
    </button>
    <div id="debugAcc" class="w3-dropdown-content w3-bar-block w3-border" >
        <a class="w3-bar-item w3-button w3-green w3-border"  onclick="window.location.href = './imu.html'">Imu</a>
        <a class="w3-bar-item w3-button w3-green w3-border"  onclick="window.location.href = './cpu.html'">Cpu</a>
    </div>
</div>
<button class="w3-button" onclick="window.location.href = './mapper.html';">
    Map
</button>
<label id="dark_mode" class="switch">
    <input class="w3-button w3-block w3-black" id="mode_btn" type="checkbox">
    <span class="slider round"></span>
</label>

<div class="w3-show w3-padding-64 w3-display-topright">
    <span class="closebtn w3-hide" id="mav_warn_close" onclick="this.classList.toggle('w3-hide'); document.getElementById('mav_fail_warning').classList.toggle('w3-hide');">&times;</span>
    <div class="alert w3-hide" id="mav_fail_warning"></div>
</div>

<script >

const mode_btn = document.getElementById('mode_btn');

// set our platform, just in case any js side stuff needs to know
if (localStorage.getItem("platform") == null){
    fetch("/_cmd/platform").then(function(response) {
        return response.text().then(function(text) {
            localStorage.setItem("platform",text);
        });
    });
}

if (localStorage.getItem("platform") == "QRB"){
    fft_button = document.createElement("a");
    fft_button.classList.add("w3-bar-item");
    fft_button.classList.add("w3-button");
    fft_button.classList.add("w3-green");
    fft_button.classList.add("w3-border");
    fft_button.onclick = function(){window.location.href = './fft.html';}
    fft_button.innerHTML = "FFT";
    document.getElementById("debugAcc").appendChild(fft_button);
}

// set our platform, just in case any js side stuff needs to know
if (localStorage.getItem("factory-test") == null){
    fetch("/_cmd/factory_test_enabled").then(function(response) {
        return response.text().then(function(text) {
            localStorage.setItem("factory-test",text);
        });
    });
}

if (localStorage.getItem("factory-test") == "true"){
    factory_button = document.createElement("a");
    factory_button.classList.add("w3-bar-item");
    factory_button.classList.add("w3-button");
    factory_button.classList.add("w3-green");
    factory_button.classList.add("w3-border");
    factory_button.onclick = function(){window.location.href = './factory-test.html';}
    factory_button.innerHTML = "Factory Test";
    document.getElementById("debugAcc").appendChild(factory_button);
}

function closeCameraAcc(){

  //Close and remove the green coloring of the dropdown
  var x = document.getElementById("cameraAcc");
  x.classList.remove("w3-show");
  x.previousElementSibling.classList.remove("w3-pale-green");

  //Remove all the children, they should get repopulated to ensure no faulty cameras
  var eles = document.getElementsByClassName("cam-item");
  while(eles[0]) {
    eles[0].parentNode.removeChild(eles[0]);
  }

}

function cameraAccFunc() {
    updateCameraList();
}

function updateCameraList(){
  fetch('/_cmd/list_cameras').then(function(response) {
    return response.text().then(function(text) {

      //Remove all the children, they should get repopulated to ensure no faulty cameras
      var eles = document.getElementsByClassName("cam-item");
      while(eles[0]) {
        eles[0].parentNode.removeChild(eles[0]);
      }

      var y = document.getElementById("cameraAcc");
      var cams = text.split(" ");

      for(var i = 0; i < cams.length; i++){
        if(cams[i].length < 1) continue;

        var ele = document.createElement("a");
        ele.setAttribute("id",       "btn_"+cams[i]);
        ele.setAttribute("pipe",     cams[i]);
        ele.setAttribute("onclick",  "cameraClick(this)");

        ele.classList.add("cam-item");
        ele.classList.add("w3-bar-item");
        ele.classList.add("w3-button");
        ele.classList.add("w3-green");
        ele.classList.add("w3-border");

        ele.textContent =getNiceName(cams[i]);
        y.appendChild(ele);
      }

      y.className += " w3-show";
      y.previousElementSibling.className += " w3-pale-green";

    });
  });

}

function closePtcloudAcc(){
    //Close and remove the green coloring of the dropdown
    var x = document.getElementById("ptcloudAcc");
    x.classList.remove("w3-show");
    x.previousElementSibling.classList.remove("w3-pale-green");

    //Remove all the children, they should get repopulated to ensure no faulty cameras
    var eles = document.getElementsByClassName("ptc-item");
    while(eles[0]) {
        eles[0].parentNode.removeChild(eles[0]);
    }
}

function ptcloudAccFunc() {
    updatePtcloudList();
}

function updatePtcloudList(){
fetch('/_cmd/list_ptclouds').then(function(response) {
  return response.text().then(function(text) {

    //Remove all the children, they should get repopulated to ensure no faulty cameras
    var eles = document.getElementsByClassName("ptc-item");
    while(eles[0]) {
        eles[0].parentNode.removeChild(eles[0]);
    }

    var y = document.getElementById("ptcloudAcc");
    var ptcs = text.split(" ");

    for(var i = 0; i < ptcs.length; i++){
      if(ptcs[i].length < 1) continue;

      var ele = document.createElement("a");
      ele.setAttribute("id",       "btn_"+ptcs[i]);
      ele.setAttribute("pipe",     ptcs[i]);
      ele.setAttribute("onclick",  "ptcloudClick(this)");

      ele.classList.add("ptc-item");
      ele.classList.add("w3-bar-item");
      ele.classList.add("w3-button");
      ele.classList.add("w3-green");
      ele.classList.add("w3-border");

      ele.textContent =getNiceName(ptcs[i]);
      y.appendChild(ele);
    }

    y.className += " w3-show";
    y.previousElementSibling.className += " w3-pale-green";

  });
});

}

function getNiceName(string) {
    var nameList = string.split("_");
    for(var j = 0; j < nameList.length; j++){
      if(nameList[j].length < 1) continue;
      nameList[j] = nameList[j][0].toUpperCase() + nameList[j].substring(1);
    }
    return nameList.join(' ');
}

function cameraClick(ele) {
    window.location.href = './video.html?cam=' + ele.getAttribute("pipe");
}

function ptcloudClick(ele) {
    window.location.href = './pointcloud.html?ptc=' + ele.getAttribute("pipe");
}

function listDebug() {
  var x = document.getElementById("debugAcc");
  x.classList.toggle("w3-show");
}

var url = window.location.href;
var url_partial = url.split("/");

var header_ws = new WebSocket("ws://" + url_partial[2] + ":80/header");
header_ws.binaryType = "arraybuffer";

let GPS_INDEX         = 0;
let BATT_INDEX        = 1;
let FLIGHT_INFO_INDEX = 2;

let batt_ele = document.getElementById("battery");
let gps_ele = document.getElementById("gps");
let arm_status = document.getElementById("arm_status");
let fm_status = document.getElementById("flight_mode");
let warn = document.getElementById("mav_fail_warning");
let mav_close = document.getElementById("mav_warn_close");

function px4click(){
    batt_ele.classList.toggle("w3-hide");
    gps_ele.classList.toggle("w3-hide");
    arm_status.classList.toggle("w3-hide");
    fm_status.classList.toggle("w3-hide");
}

header_ws.onmessage = function (evt) {
    if (batt_ele.classList.contains("w3-hide")) return;
    var msg = evt.data;
    var parser = new jParser(msg, {
        msg_type: {
            index: 'uint8',
        },
        batt_msg: {
            percent: 'uint8',
        },
        sat_msg: {
            sats: 'uint8',
        },
        fm_msg: {
                armed: 'uint8',
                base_mode: 'uint8',
                custom_mode: 'uint32',
                status_text: ['array', 'char', 128],
        }});

    var msg_type = parser.parse('msg_type');
    switch(msg_type.index){
        case(GPS_INDEX):
            var sats = parser.parse('sat_msg');
            gps_ele.innerHTML = "GPS Sat: " + sats.sats;
            break;
        case(BATT_INDEX):
            var battery = parser.parse('batt_msg');
            if (battery.percent > 100) batt_ele.innerHTML = "N/A% <img src='images/batt-icon.png'/>";
            else batt_ele.innerHTML = battery.percent + "% <img src='images/batt-icon.png'/>";
            break;
        case(FLIGHT_INFO_INDEX):
            var modes = parser.parse('fm_msg');
            var error_msg = "";
            var i;
            for (i = 0; i < 128; i++){
                if (modes.status_text[i] == '\x00') break;
                else error_msg = error_msg.concat(modes.status_text[i]);
            }
            if (i > 1){
                if (warn.classList.contains("w3-hide")) warn.classList.toggle("w3-hide");
                if(mav_close.classList.contains("w3-hide")) mav_close.classList.toggle("w3-hide");
            } 

            if (modes.armed) arm_status.innerHTML = "Armed";
            else arm_status.innerHTML = "Disarmed";

            warn.innerHTML = error_msg;

            switch(modes.base_mode){
                case 0:
                    fm_status.innerHTML = "Unknown<br>";
                    return;
                case 1:
                    fm_status.innerHTML = "Manual<br>";
                    return;
                case 2:
                    fm_status.innerHTML = "Altitude Hold<br>";
                    return;
                case 3:
                    fm_status.innerHTML = "Position Hold<br>";
                    return;
                case 4:
                    fm_status.innerHTML = "Auto<br>";
                    break;
                case 5:
                    fm_status.innerHTML = "Acro<br>";
                    return;
                case 6:
                    fm_status.innerHTML = "Offboard<br>";
                    return;
                case 7:
                    fm_status.innerHTML = "Stabilized<br>";
                    return;
                case 8:
                    fm_status.innerHTML = "Rattitude<br>";
                    return;
            }

            switch (modes.custom_mode){
                case 1:
                    fm_status.innerHTML += "Ready";
                    break;
                case 2:
                    fm_status.innerHTML += "Takeoff";
                    break;
                case 3:
                    fm_status.innerHTML += "Loiter";
                    break;
                case 4:
                    fm_status.innerHTML += "Mission";
                    break;
                case 5:
                    fm_status.innerHTML += "RTL";
                    break;
                case 6:
                    fm_status.innerHTML += "Land";
                    break;
                case 7:
                    fm_status.innerHTML += "RTGS";
                    break;
                case 8:
                    fm_status.innerHTML += "Follow Target";
                    break;
                case 9:
                    fm_status.innerHTML += "Precision Land";
                    break;
            }
            break;
    }
}

</script>
